$header-title: whitesmoke;
$link : #546E7A;
$text-color : #546E7A;
$link-hover : #1B1D1F;
$background-color: rgb(235, 235, 235);



html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: lato, sans-serif;
    font-weight: 300;
    width: 100%;
    margin: auto;
}

// = HEADER
.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10Px;
    background-color: grey;

    &__title {
        color: $header-title;
        font-size: 2em;
        margin-bottom: 5px;
    }

    &__text {
        margin-top: 0;
        color: $text-color;
        font-weight: 900;
        font-size: larger;
        text-transform: uppercase;
    }
}

.stack__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 150px;
    padding: 0;

    &__items {
        list-style: none;
        background-color: grey;
        padding: 10px;
        margin: 10px;
        border-radius: 16px;
    }
}


#btn {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 5px #1B1D1F;
    margin: 34px;
    text-align: center;
}

.fa-angle-up {
    color: grey;
    font-size: 30px;
    padding-top: 10px;
}



/* = keyframes */
@keyframes slide {
    from {
        width: 100%;
    }

    18% {
        width: 1%;
    }

    to {
        width: 100%;
    }
}

@keyframes hidde {
    from {
        color: transparent;
        text-shadow: none;
    }

    80% {
        color: transparent;
        text-shadow: none;
    }

    to {
        color: whitesmoke;
    }
}


/* = menu */
.nav__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;

    &__link {
        font-family: lato, sans-serif;
        font-weight: 300;
        text-align: center;
        color: $link;
        padding: 0px 10px;
        text-decoration: none;
        padding: 5px 20px;

        &:hover {
            color: $link-hover;
            text-shadow: 0px 0px 12px $text-color;
        }

    }
}



/* = Portfolio */
.portfolio__title, .stack__title  {
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
    color: $text-color;

}

/* projets */
.projets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;


    &__box {
        width: 320px;
        height: 400px;
        box-shadow: 0px 0px 8px $text-color;
        margin: 30px;
        transform: scale(1);
        transition: transform 400ms, opacity 700ms;

        &:hover {
            opacity: 0.9;
            transform: scale(1.03);
        }

        &__title {
            color: $text-color;
            font-family: lato, sans-serif;
            font-weight: 300;
            text-align: center;
        }

        &__text {
            color: $text-color;
            font-family: lato, sans-serif;
            font-weight: 300;
            text-align: center;
        }
    }
}


a img {
    display: block;
    width: 300px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
}

/* = Footer */
.contact {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 20px 0px;
    background-color: $background-color;

    &__link {
        font-family: lato, sans-serif;
        font-weight: 300;
        text-align: center;
        color: $link;
        margin: 0px 30px;
        text-decoration: none;

        &:hover {
            color: $link-hover;
            border-bottom: 1px solid $link-hover;
        }
    }
}


/* = Media queries */
@media screen and (max-width: 760px) {
    .headerBox {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
}
