$black-color: #222527;
$white-color: rgb(255, 255, 255);
$lightBlack-color : #323232;
$grey-color: #949494;
$border: rgb(255, 255, 255);
$main-color: #222527;
$green-color: #34D1BF;
$tangerine-color: #E99C86;


html {
    scroll-behavior: smooth;
    font-size: 62.4%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 100%;
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $black-color;
    perspective: 30em;
    ;

}



// = HEADER
.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: $white-color;
    z-index: 100;

    &__title {
        color: $green-color;
        font-weight: bold;
        font-size: 3.3rem;
        font-style: normal;
        line-height: 27px;
        margin-bottom: 5px;
        animation: opacity 800ms;
    }

    &__text {
        margin-top: 0;
        color: $black-color;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 21px;
        letter-spacing: 0.42em;
        text-transform: uppercase;
        animation: opacity 1000ms;
    }

    a {
        text-decoration: none;
    }
}

.nav__box {
    padding: 10px 30px 10px 10px;
    animation: slide 800ms;

    &__link {
        position: relative;
        margin: 0 10px;
        text-decoration: none;
        color: $black-color;
        font-size: 1.4rem;

        &:hover {
            color: $green-color;
            border-bottom: 1px solid $white-color;


        }
    }
}

.nav__box__link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    border-bottom: solid $green-color 1px;
    transition: 0.4s;
}

.nav__box__link:hover:after {
    width: 100%;
}

.colored {
    color: $black-color;
    font-weight: bold;
    font-size: 1.9rem;
    letter-spacing: 0.04em;
}




/* = Weclome section */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    top: -99px;
    z-index: 50;
    background-color: $white-color;

    @media (max-width: 768px) {
        top: -137px;
    }

    @media (max-width: 425px) {
        top: -169px;
    }

}

.welcome h2 {
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 2px;
    animation: opacity 1300ms;
    background: linear-gradient(90deg, lighten($black-color, 60%), darken($black-color, 60%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lines {
    position: absolute;
    top: 52vh;
    right: center;
}


@keyframes lines {
    0% {
        transform: translatex(0px) rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: translatex(120px) rotate(0deg);
        opacity: 0.2;
    }

    50% {
        transform: translatex(-120px) rotate(-180deg);
        opacity: 0.5;
    }

    75% {
        transform: translatex(0px) rotate(-180deg);
        opacity: 0.5;
    }

    85% {
        transform: translatex(0px) rotate(-180deg);
        opacity: 0.8;
    }

    100% {
        transform: translatex(0px) rotate(-180deg);
        opacity: 0;
    }
}

@for $i from 1 to 8 {
    .line#{$i} {
        width: 200px;
        height: 1px;
        background-color: black;
        opacity: 0;
        animation: lines 4s ease-in-out ($i * 220ms);
        position: absolute;
        left: -100px;
    }
}

@media screen and (max-width: 479px) {
    @for $i from 1 to 8 {
        .line#{$i} {
            width: 100px;
            height: 1px;
            background-color: black;
            opacity: 0;
            animation: lines 4s ease-in-out ($i * 220ms);
            position: absolute;
            left: -50px;
        }
    }
}

@media screen and (max-width: 348px) {
    .lines {
        position: absolute;
        top: 50vh;
        right: center;
    }
}

/* = TITLES */
.portfolio__title,
.stack__title,
.work__title,
.formation__title {
    font-size: 2.8rem;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.2em;
}

.portfolio__title {
    color: $white-color;
}

.work__title,
.formation__title {
    color: $green-color;
}


/*** = Stack ***/
.stack {
    background-image: url(img/triangles-3334152_1920.png);
    color: $green-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 75;
    opacity: 1;
    transition: opacity 600ms ease-in-out;

    @media (max-width: 320px) {
        top: 60px;
    }

}

.toggle {
    opacity: 0;
}

.stack__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    color: $white-color;

    &__items {
        font-size: 1.4rem;
        list-style: none;
        padding: 10px;
        margin: 10px;
        border-radius: 16px;
    }
}

.link {
    animation: opacity 800ms;
}



/*** = Projects ***/
#main {
    flex: 1;
}

#work {
    min-height: 100vh;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: auto;
    opacity: 0;
    padding: 32px 0;
    transition: opacity 600ms ease-in-out;
    background-color: $black-color;
}

.project {
    box-sizing: border-box;
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;

    :hover {
        opacity: 0.90;
        transform: opacity;
    }

    &-overlay {
        box-sizing: border-box;
        width: 250px;
        height: 250px;
        position: absolute;
        font-size: 1.2rem;
        background-color: $black-color;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: 200ms ease-in-out;
    }

    &_links {
        display: flex;
        justify-content: space-around;
    }

    &_description {
        color: $white-color;
        text-align: center;
    }
}

/* = Formation  */
.formation {
    color: black;
    background-color: $white-color;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px 2px;

    &__text {
        font-size: 1.6em;
        letter-spacing: 0.2em;
    }
}

#formation-icons i {
    margin: 0.6em;
}

#formation-icons {
    height: 50vh;
}

.formation-container {
    opacity: 0;
}

@for $i from 1 to 11 {
    .icons#{$i} {
        position: relative;
        animation: wave 4s infinite ease-in-out ($i * 100ms);
    }
}

/* = Footer */
.contact {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0px;
    background-color: $black-color;

    &__link {
        font-weight: 300;
        text-align: center;
        color: $green-color;
        margin: 0px 30px;
        text-decoration: none;

        &:hover {
            color: $white-color;

        }
    }

    @media (max-width: 320px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        ;
    }
}

.fab,
.far,
.fas {
    font-size: 2.5rem;
    text-decoration: none;
}

img {
    width: 100%;
}


.link {
    font-size: 1rem;
    padding: 2px 16px;
    margin: 0 8px;
    text-decoration: none;
}

.link-website {
    color: $black-color;
    background-color: $green-color;
    border: $green-color solid 1px;

    &:hover {
        background-color: $white-color;
        border: $white-color solid 1px;
    }
}

.link-github {
    background-color: $black-color;
    border: $green-color solid 1px;
    color: $green-color;

    &:hover {
        color: $white-color;
        border: $white-color solid 1px;
    }
}

.revealAnimation {
    transition: opacity 800ms ease-in-out;
    transition-delay: 100ms;
    opacity: 0.9;
}

/* = animations */
@keyframes slide {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        right: 0px;
        transform: scale(1)
    }

    20% {
        right: 0px;
        transform: scale(1)
    }

    24% {
        right: 20px;
        transform: scale(1);
    }

    30% {
        right: -70px;
        transform: scale(0.2);
    }

    50% {
        right: 0px;
        transform: scale(1)
    }
}



/* = Media queries */
@media screen and (max-width: 776px) {
    .headerBox {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }

    @keyframes wave {
        0% {
            transform: scale(1)
        }

        18% {
            transform: scale(1)
        }

        25% {
            transform: scale(1.1);
        }

        35% {
            transform: scale(0.2);
        }

        50% {
            transform: scale(1.1)
        }

        57% {
            transform: scale(1)
        }
    }

}