html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: lato, sans-serif;
    font-weight: 300;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}



/* = keyframes */
@keyframes slide {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes hidde {
    from {
        color: transparent;
        text-shadow: none;
    }

    70% {
        color: transparent;
        text-shadow: none;
    }

    to {
        color: whitesmoke;
    }
}




a {
    padding: 0px 10px;
    text-decoration: none;
    color: grey;
    padding: 5px 20px;
}

a:hover {
    color: #1B1D1F;
    text-shadow: 0px 0px 12px grey;

}

p,
h2,
h3,
a {
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
    color: grey;
}

h1 {
    padding-top: 55px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-shadow: 0px 0px 10px #0A2937;
    text-align: center;
    color: whitesmoke;
    animation: hidde 1500ms ease-out;
}



/* = menu */
.nav-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;
}


/* = header */
header {
    text-align: center;
    background-image: url("img/nature-sky-sunset-the-mountains-66997.jpg");
    background-position: bottom;
    width: 100%;
    height: 200px;
    animation: slide 1500ms ease-out;
}

.header-box {
    display: flex;
    justify-content: center;

}




/* = Portfolio */
.projets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.projets h3,
p {
    color: dimgrey;

}

.projets-box {
    width: 320px;
    height: 400px;
    box-shadow: 0px 0px 8px grey;
    margin: 30px;
    transform: scale(1);
    transition: transform 400ms, opacity 700ms;
}


.projets-box:hover {
    opacity: 0.7;
    transform: scale(1.03);

}

a img {
    display: block;
    width: 300px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
}



/* = Footer */

footer {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 30px 0px;
    padding: 20px 0px;
    box-shadow: 0px 0px 8px grey;
}



/* = Media queries */
@media screen and (max-width: 425px) {
    h1 {
        padding-top: 55px;
        font-family: lato, sans-serif;
        font-weight: 300;
        text-shadow: 0px 0px 10px #0A2937;
        text-align: center;
        color: whitesmoke;
        animation: hidde 1700ms ease-out;
    }
}
