html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: lato, sans-serif;
  font-weight: 300;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10Px;
  background-color: grey;
}

.headerBox__title {
  color: whitesmoke;
  font-size: 2em;
  margin-bottom: 5px;
}

.headerBox__text {
  margin-top: 0;
  color: #546E7A;
  font-weight: 900;
  font-size: larger;
  text-transform: uppercase;
}

#btn {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 0px 0px 5px #1B1D1F;
  margin: 34px;
  text-align: center;
}

.fa-angle-up {
  color: grey;
  font-size: 30px;
  padding-top: 10px;
}

/* = keyframes */
@keyframes slide {
  from {
    width: 100%;
  }
  18% {
    width: 1%;
  }
  to {
    width: 100%;
  }
}

@keyframes hidde {
  from {
    color: transparent;
    text-shadow: none;
  }
  80% {
    color: transparent;
    text-shadow: none;
  }
  to {
    color: whitesmoke;
  }
}

/* = menu */
.nav__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px;
}

.nav__box__link {
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #546E7A;
  padding: 0px 10px;
  text-decoration: none;
  padding: 5px 20px;
}

.nav__box__link:hover {
  color: #1B1D1F;
  text-shadow: 0px 0px 12px #546E7A;
}

/* = Portfolio */
.portfolio__title {
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #546E7A;
}

/* projets */
.projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.projets__box {
  width: 320px;
  height: 400px;
  box-shadow: 0px 0px 8px #546E7A;
  margin: 30px;
  transform: scale(1);
  transition: transform 400ms, opacity 700ms;
}

.projets__box:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.projets__box__title {
  color: #546E7A;
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
}

.projets__box__text {
  color: #546E7A;
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
}

a img {
  display: block;
  width: 300px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
}

/* = Footer */
.contact {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 30px 0px;
  padding: 20px 0px;
  box-shadow: 0px 0px 8px #546E7A;
}

.contact__link {
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #546E7A;
  padding: 0px 10px;
  text-decoration: none;
  padding: 5px 20px;
}

.contact__link:hover {
  color: #1B1D1F;
  text-shadow: 0px 0px 12px #546E7A;
}

/* = Media queries */
@media screen and (max-width: 425px) {
  .header__title {
    padding-top: 55px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-shadow: 0px 0px 10px #0A2937;
    text-align: center;
    color: whitesmoke;
    animation: hidde 1800ms ease-out;
  }
}
