html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: lato, sans-serif;
  font-weight: 300;
  width: 100%;
  margin: auto;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10Px;
  background-color: #fafafa;
}

.headerBox__title {
  color: white;
  font-size: 2em;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.headerBox__text {
  margin-top: 0;
  color: #3d4f56;
  font-weight: 900;
  font-size: larger;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav__box {
  padding: 10px;
}

.nav__box__link {
  margin: 0 10px;
  text-decoration: none;
  color: #324147;
}

.nav__box__link:hover {
  color: #1B1D1F;
  border-bottom: 1px solid #1B1D1F;
}

.colored {
  color: #0099ff;
}

.border {
  text-shadow: 0 0 2px black;
}

#btn {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 0px 0px 5px #1B1D1F;
  margin: 34px;
  text-align: center;
}

.fa-angle-up {
  color: grey;
  font-size: 30px;
  padding-top: 10px;
}

/* = TITLES */
.portfolio__title,
.stack__title {
  font-family: lato, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #3d4f56;
  letter-spacing: 2px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.stack {
  background-color: white;
  border: solid 1px #ededed;
}

.stack__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0;
}

.stack__list__items {
  list-style: none;
  background-color: white;
  border: solid 1px #ededed;
  padding: 10px;
  margin: 10px;
  border-radius: 16px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.stack__list__items:hover {
  background-color: #0099ff;
  color: white;
}

/* projets */
/* projets */
#projets, .stack {
  padding-top: 30px;
}

.projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.projets__box {
  width: 320px;
  height: 400px;
  box-shadow: 0px 0px 1px #324147;
  margin: 30px;
  transform: scale(1);
  transition: transform 400ms, opacity 200ms;
  opacity: 0.8;
}

.projets__box:hover {
  opacity: 1;
  transform: scale(1.03);
  box-shadow: 0px 0px 8px #324147;
}

.projets__box__title {
  color: #324147;
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
}

.projets__box__text {
  color: #324147;
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
}

a img {
  display: block;
  width: 300px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
}

/* = Footer */
.contact {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px 0px;
  padding: 20px 0px;
  background-color: #fafafa;
  border: solid 1px #ededed;
}

.contact__link {
  font-family: lato, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #324147;
  margin: 0px 30px;
  text-decoration: none;
}

.contact__link:hover {
  color: #1B1D1F;
  border-bottom: 1px solid #1B1D1F;
}

/* = Media queries */
@media screen and (max-width: 776px) {
  .headerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headerBox__title {
    text-align: center;
  }
  .headerBox__text {
    text-align: center;
  }
}
